li {
    list-style: none;
  }
   

.nav-container #nav-principal {
    background-color: #3c54a4;
    overflow: hidden;
  }
  
  .nav-container #nav-principal li {
    
    float: left;
  }
  
  .nav-container #nav-principal li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-container #nav-principal li a:hover {
    background-color: #ddd;
    color: black;
  }

/* contenedor */


.publicacion-container {
    margin-top: 40px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publicacion-container p {
    margin: 0;
  }
  
  .publicacion-container strong {
    font-weight: bold;
  }
  
  .publicacion-imagen {
    max-height: 300px;
    display: block;
    margin-bottom: 10px;
  }
  
