<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilos2.css">
    <title>Signup</title>
</head>
<body>

    <div>
        <nav class="menu-principal">
          <ul>
            <li><a href="{% url 'iniciar_sesion' %}">Iniciar Sesion</a></li>
          </ul>
        </nav>
      </div>


        <div class="contenedor glass ">
            <form class="form"  method="POST">
                {% csrf_token %}
                <h3>Register Please</h3>
                <input   type="text" placeholder="Username" name="username" id="username" required>
                <div class="margen">
                    <input  type="email" placeholder="Email" name="email" id="email" required>
                </div>
                <div class="margen">
                    <input  type="password" placeholder="Password" name="password" id="password" required>
                </div>
                <div class="margen">
                    <button class="button-70" type="submit"> Register </button>
                </div>
                
            </form>


        </div>


    
</body>
</html>
